API_KEY=<API Key>
ENDPOINT=https://apim-foundryproxy-dev.azure-api.net/foundry/gpt-5.4/
CHAT_DEPLOYMENT=gpt-5.4
VISION_DEPLOYMENT=gpt-5.4
EMBEDDING_ENDPOINT=https://apim-foundryproxy-dev.azure-api.net/foundry/text-embedding-3-small/
EMBEDDING_DEPLOYMENT=text-embedding-3-small

